<mat-nav-list>
<div class="profile-card">
    <div class="header">
<h2>CLIENT</h2>
<h4>example@email.com</h4>
</div>
<img src="https://www.pngitem.com/pimgs/m/75-751460_client-broker-consultant-icon-consultant-icon-hd-png.png" alt="Client">
</div>
<mat-divider></mat-divider>
<h2 matSubheader>pages</h2>
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">posts</a>
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">articles</a>
<mat-divider></mat-divider>
<h2 matSubheader>Tools</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
<mat-icon>import_contacts</mat-icon>
contacts
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
     contact
    </a>
</mat-nav-list>
